<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<title>Запросы</title>
  		<meta charset="UTF-8">
	</head>
	<body>
        <div class="div_like_belt_1">
			<p class="article_1">Выберите запрос</p>
		</div>
		<div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_betweenDate') }}">1. Показать заказы, сделанные в заданный период времени</a>
		</div>
		<div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_SearchService') }}">2. Показать заказы, с определенной услугой</a>
		</div>
		<div class="div_like_button_2">
			<a href="{{ url_for('index') }}" class="a_yellow">Назад</a>
		</div>
	</body>
</html>