<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask source</title>
</head>
<body>
    <h1>I am text from h1</h1>
    <h4>I am text from h4</h4>

    <p>some text from paragraph</p>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ul>

    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ol>

    <a href="http://yandex.ru">Go to Yandex</a>
    <img src="https://im0-tub-ru.yandex.net/i?id=a119bbbe9dad438871eeaf5adb5e6332&n=13&exp=1" width="250px" height="200px">
    <form action="">
        <input type="text" name="text-input", placeholder="Input some text">
        <input type="password" name="text-password" placeholder="Input password">
        <input type="submit" value="Send">
    </form>


</body>
</html>