{% extends 'edit_base.html' %}{% block child %}<div class="article_3"><table>
<thead><tr><th>id</th><th>Имя</th><th>Адрес</th><th>Суммарный вес</th><th>Дата выставления веса</th><th> </th><th> </th></tr></thead>
<tbody>
<tr><td>1</td><td>Di</td><td>street2</td><td>861</td><td>2013-08-03</td><td><a class="" href="/edit/customers/1">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/1">Удалить</a></td></tr>
<tr><td>2</td><td>Ann</td><td>street2</td><td>3372</td><td>2013-08-03</td><td><a class="" href="/edit/customers/2">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/2">Удалить</a></td></tr>
<tr><td>3</td><td>Sasha</td><td>street3</td><td>3933</td><td>2013-02-03</td><td><a class="" href="/edit/customers/3">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/3">Удалить</a></td></tr>
<tr><td>4</td><td>Stas</td><td>street34</td><td>789</td><td>2016-03-16</td><td><a class="" href="/edit/customers/4">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/4">Удалить</a></td></tr>
<tr><td>5</td><td>Rose</td><td>street10</td><td>1700</td><td>2017-08-16</td><td><a class="" href="/edit/customers/5">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/5">Удалить</a></td></tr>
<tr><td>6</td><td>Chris</td><td>street45</td><td>0</td><td>2021-10-18</td><td><a class="" href="/edit/customers/6">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/6">Удалить</a></td></tr>
</tbody>
</table></div>{% endblock %}