{% extends 'edit_base.html' %}{% block child %}<div class="article_3"><table>
<thead><tr><th>id</th><th>Имя</th><th>Адрес</th><th>Суммарный вес</th><th>Дата выставления веса</th><th> </th><th> </th></tr></thead>
<tbody>
<tr><td>1</td><td>Di</td><td>street88</td><td>5530</td><td>2021-03-26</td><td><a class="" href="/edit/customers/1">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/1">Удалить</a></td></tr>
<tr><td>2</td><td>Ann</td><td>street2</td><td>12100</td><td>2019-04-19</td><td><a class="" href="/edit/customers/2">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/2">Удалить</a></td></tr>
<tr><td>3</td><td>Sasha</td><td>street15</td><td>1000</td><td>2019-08-23</td><td><a class="" href="/edit/customers/3">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/3">Удалить</a></td></tr>
<tr><td>4</td><td>Stas</td><td>street34</td><td>0</td><td></td><td><a class="" href="/edit/customers/4">Редактировать</a></td><td><a class="confirmable" href="/edit/customers/delete/4">Удалить</a></td></tr>
</tbody>
</table></div>{% endblock %}