<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Работа с редактированием</title>
    <meta charset="UTF-8">
</head>

<body>
<div class="div_like_belt_1">
    <p class="article_1">Выберите вариант редактирования</p>
</div>
<div class="div_like_button_2">
    <a href="{{ url_for('edit.edit_users') }}">Список пользователей</a>
</div>
<div class="div_like_button_2">
    <a href="{{ url_for('edit.edit_customers') }}">Список заказчиков</a>
</div>
<div class="div_like_button_2">
    <a href="{{ url_for('index') }}" class="a_yellow">Назад</a>
</div>
</body>
</html>