{% extends 'edit_users_base.html' %}{% block child %}<div class="article_3"><table>
<thead><tr><th>id</th><th>Логин</th><th>Пароль</th><th>Уровень доступа</th><th> </th><th> </th></tr></thead>
<tbody>
<tr><td>1</td><td>Admin</td><td>Admin</td><td>1</td><td><a href="/edit/users/1">Редактировать</a></td><td><a href="/edit/users/delete/1">Удалить</a></td></tr>
<tr><td>2</td><td>Sia</td><td>123</td><td>0</td><td><a href="/edit/users/2">Редактировать</a></td><td><a href="/edit/users/delete/2">Удалить</a></td></tr>
<tr><td>3</td><td>Developer</td><td>Developer</td><td>10</td><td><a href="/edit/users/3">Редактировать</a></td><td><a href="/edit/users/delete/3">Удалить</a></td></tr>
</tbody>
</table></div>{% endblock %}