<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
</head>
<body>
<div class="div_like_belt_1">
    <p class="article_1">Добавление товаров для заказчика {{ customer_name }}</p>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="article_3"><p class="article_2">{{ message }}</p></div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="post">
    <input name="add_note" type="hidden" value=0>
    <input type="text" name="name" minlength=1 maxlength=45 autofocus placeholder="Название товара" required>
    <input type="number" name="weight" autofocus placeholder="Вес товара" min=0 max=2147483647 required>
    <button type="submit">Добавить</button>
</form>

<form method="post">
    <input name="clear_note" type="hidden" value=0>
    <button type="submit">Очистить груз</button>
</form>
{% block child %}{% endblock %}
<div class="article_3">
    Общий вес: {{ Weight }}
</div>
<form method="post" class="div_like_button_2">
    <input name="confirm_order" type="hidden" value=0>
    <button type="submit">Оформить заказ</button>
</form>
<form method="post" class="div_like_button_1">
    <input name="main_menu" type="hidden" value=0>
    <button type="submit">В главное меню</button>
</form>
</body>
</html>