<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
</head>
<body>
<div class="div_like_belt_1">
    <p class="article_1">Добавление товаров для заказчика {{ customer_name }}</p>
</div>

<form method="post">
    <input name="add_note" type="hidden" value=0>
    <input type="text" name="name" autofocus placeholder="Название товара" required>
    <input type="number" name="weight" autofocus placeholder="Вес товара" min=0 required>
    <button type="submit">Добавить</button>
</form>

<form method="post">
    <input name="clear_note" type="hidden" value=0>
    <button type="submit">Очистить груз</button>
</form>
{% block child %}{% endblock %}
<div class="article_3">
    Общий вес: {{ Weight }}
</div>
<div class="div_like_button_2">
    <a href="{{ url_for('basket.basket_finish_order') }}" class="a_yellow">Оформить заказ</a>
</div>
</body>
</html>