<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<title>Запрос 4.</title>
  		<meta charset="UTF-8">
	</head>

	<body>
		<h1>Количество ТТН в N году</h1>
		<form method="post" class="form_request1">
			<input  type="number" name="year" min=0 autofocus placeholder="0123456789" required>
      			<button type="submit" class="inline_button">Поиск</button>
		</form>
		<form action="{{ url_for('requests.requests_index') }}">
      			<button type="submit" class="small_button">Назад</button>
    		</form>
	</body>
</html>