<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<title>Запросы</title>
  		<meta charset="UTF-8">
	</head>
	<body>
		<div class="div_like_belt_1">
			<p class="article_1">Выберите запрос</p>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_request1') }}">1. Найти работников, взятых в конкретном году и месяце</a>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_request2') }}">2. Найти работников, нанятых на работу за последнее число дней</a>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_request3') }}">3. Найти автомобили с серией</a>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_request4') }}">4. Найти количество ТТН в году</a>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_request5') }}">5. Найти общий вес груза, перевезенного в году</a>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('requests.requests_request6') }}">6. Найти средний вес,перевезенного груза в каждом месяце конкретного года</a>
		</div>
        <div class="div_like_button_2">
			<a href="{{ url_for('index') }}" class="a_yellow">Назад</a>
		</div>
	</body>
</html>